# Local Vector stores.
.chromadb

# Environments
.venv/
venv
.env
.env.dockercompose


# Secrets
.streamlit

__pycache__
.idea



.cache

temp
settings.json
.aider*
*.sqllite
*.sqlite

04_advanced_rag/04_multimodal_rag/data/images